.DS_Store
.gitattributes
Adrenaline-Engine
Adrenaline-Engine.exe
CMakeCache.txt
CMakePresets.json
Makefile
cmake_install.cmake 
imgui.ini
/build
/lib/glfw-3.3.4/src/CMakeFiles
/lib/glfw-3.3.4/examples
/lib/glfw-3.3.4/tests
/lib/glfw-3.3.4/docs
/lib/glfw-3.3.4/deps
/lib/glfw-3.3.4/CMakeFiles
/lib/glfw-3.3.4/CMake
/lib/glfw-3.3.4/cmake_uninstall.cmake
/lib/glfw-3.3.4/cmake_uninstall.cmake.in\
/lib/glfw-3.3.4/src
/lib/glfw
/windows-default
/.vs
/engine/resources/models