.DS_Store
.gitattributes
Adrenaline-Engine
CMakeCache.txt
Makefile
cmake_install.cmake 
imgui.ini
/CMakeFiles
/lib/glfw-3.3.4/src/CMakeFiles
/lib/glfw-3.3.4/examples/CMakeFiles
/lib/glfw-3.3.4/tests/CMakeFiles